*.o
*.obj
*.exe
*~
*.so
*.la
*.a
*.mo
tags
TAGS
#.*#
*.tar
*.dmg
*.deb
*.tar.gz
*.bz2
Makefile
*.lo
*.la
stamp-h1
autom4te.cache/
#config.guess
config.log
config.status
#config.sub
.libs
.deps
src/so_hello
src/so_hello_gui
moc-*.cc
build*/
/.vscode/
src/tmp.pot
src/solo-hello
src/solo-navi-viewer
.DS_Store
config.h
libtool
share/
