*.o
*.obj
*.exe
*~
*.so
*.la
*.a
*.mo
tags
TAGS
#.*#
*.tar
*.tar.gz
*.bz2
Makefile
*.lo
*.la
stamp-h1
autom4te.cache/
config.guess
config.log
config.status
config.sub
.libs
.deps
src/so_hello
src/so_hello_gui
moc-*.cc
/.vscode/
src/tmp.pot
src/solo-hello
src/solo-navi-viewer
